.myspace {
  &__tab {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -1rem;
    border-bottom: 1px solid var(--background-form-border);
    margin-bottom: 1.25rem;

    &__navlink {
      padding: 1rem;
      text-transform: capitalize;
      color: var(--title-sub-color);
      border-bottom: 2px solid transparent;
      &--active {
        border-bottom: 2px solid var(--primary-color);
        font-weight: 600;
        color: var(--title-color);
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  width: min(90%, 800px);
  margin-top: 30px;

  &__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__body {
    margin-top: 16px;
    &__alias {
      &__heading {
        font-size: 24px;
        font-weight: 600;
      }
    }

    &__principal {
      margin-bottom: 8px;
      display: inline-block;
      &:hover {
        cursor: pointer;
      }
    }

    &__roles {
      border: 1px solid var(--background-base-border);
      border-radius: 8px;
      display: flex;
      align-items: center;
      min-height: 60px;
      padding: 16px;
      justify-content: space-between;

      p {
        margin-bottom: 0;
      }
      &__button {
        .btn-outline {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
          padding: 8px 16px;
          &:hover {
            // background-color: var(--primary-color);
            &-link {
              color: var(--elna-primary-text-color) !important;
            }
          }
        }
      }
    }
  }
}

.myagents {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    &__btn {
      min-width: 124px;
    }
  }
}
.mytools {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    &__btn {
      min-width: 124px;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 729px) {
  .myagents {
    &__header {
      flex-direction: column;
    }
  }
  .mytools {
    &__header {
      flex-direction: column;
    }
  }
}
