.avatar-image {
  width: 60px;
  height: 60px;
  border-radius: 999px;

  &-wrapper {
    border-radius: 999px !important;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    position: relative;
  }

  &--selected {
    border: 4px solid var(--selected-border-color);
  }

  &--preview {
    width: 90px;
    height: 90px;
  }

  &--loading {
    background-color: var(--background-btn-secondary);
  }

  &__tick {
    position: absolute;
    right: -5px;
    bottom: 6px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 999px;
  }
}

.avatar-image-rectangle {
  width: 160px;
  height: 100px;
  border-radius: 5px;

  &-wrapper {
    border-radius: 5px !important;
    width: 160px;
    height: 100px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    position: relative;
  }

  &--selected {
    border: 4px solid var(--selected-border-color);
  }

  &--loading {
    background-color: var(--background-btn-secondary);
  }
}

.custom-avatar-parent {
  border: (var(--primary-hover-color) 1px solid);

  &:hover {
    border: (var(--primary-success) 1px solid);
  }

  &:hover .custom-avatar-parent__child {
    opacity: 1;
  }
  
  &__child {
    opacity: 0.7;
    transition: opacity 0.15s ease;
    pointer-events: none;
  }
}