.banner {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: #55e6a5;
    border-radius: 1rem;
    padding: 0 2rem;
    border: 1px solid white;
    color: #121212;
    margin-left: auto;
  }

  &__expand-icon {
    background-color: #474d57;
    border-radius: 46px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: #121212;
  }

  &__description {
    font-weight: 700;
    font-size: 15px;
  }
}
